:root {
  --primary-color: #34cb79;
  --title-color: #7a33cc;
  --text-color: #f8f8f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #282a36;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
}

body, input, button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--title-color);
  font-family: Ubuntu;
}